{% extends "base.html.twig" %}

{% block body %}
<h1>Pruebna</h1>
<div id="app"></div>

{% endblock %}
{% block javascripts %}
   
    <script src="./js/carrito/dist/build.js"></script>   
{% endblock %}